[user]
	name = edarce09
	email = edarce09@gmail.com
[color]
	ui = true
[core]
	editor = vim
	excludesfile = /home/kirsch/global_gitignore/.gitignore
[merge]
	tool = opendiff
[alias]
	pushall = push --recurse-submodule=on-demand
